
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Aufgabenliste -- Fehler</title>
	
	<h:outputStylesheet library="css" name="style.css"  />
	<h:outputStylesheet library="css" name="add-task-style.css"  />
	
</h:head>

<h:body>
<h:form>
	<div id="wrapper">
		<div id="header">
			<h2>Aufgabenliste - Fehler</h2>
		</div>
	</div>
	
	<div id="container">
		<h3>Hier hat es einen Fehler gegeben!</h3>
		<p>#{listController.errorMessage}</p>
		<p><h:outputLink value="tasklist.xhtml">Zurück zur Liste</h:outputLink></p>
	</div>	
</h:form>
</h:body>
</html>
