<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
  <f:event type="preRenderView" listener="#{listController.loadTasklist()}"/>
</f:metadata>

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Aufgabenliste</title>
	
	<h:outputStylesheet library="css" name="style.css"  />
	
</h:head>

<h:body>
<h:form>

	<div id="wrapper">
		<div id="header">
			<h2>Aufgabenliste - #{listController.dateTitle}</h2>
		</div>
		<div id="menu">
			<p:commandLink action="#{listController.showNewTaskForm}">neue Aufgabe</p:commandLink> || 
			Zeiteinheit: 
			<p:commandLink action="#{listController.newListForTimeUnit('day')}">Tag</p:commandLink> |
			<p:commandLink action="#{listController.newListForTimeUnit('week')}">Woche</p:commandLink> |
			<p:commandLink action="#{listController.newListForTimeUnit('month')}">Monat</p:commandLink> |
			<p:commandLink action="#{listController.newListForTimeUnit('year')}">Jahr</p:commandLink> |
			<p:commandLink action="#{listController.newListForTimeUnit('none')}">ohne</p:commandLink> |
			<p:commandLink action="#{listController.newListForMove('previous')}">&lt; (zurück)</p:commandLink> |
			<p:commandLink action="#{listController.newListForMove('next')}">&gt; (vor)</p:commandLink>
		</div>
	</div>

	<div id="container">

		<div id="content">
		
			<p:dataTable value="#{listController.currentTaskList}" var="task"
				styleClass="demo-table" 
				headerClass="demo-table-header"
				rowClasses="demo-table-odd-row,demo-table-even-row">

				<p:column width="60" style="center">
					<f:facet name="header">Status</f:facet>
					<div style="text-align:center">
						<h:outputText value="#{task.statusSymbol}" id="statSymbol" />
						<p:tooltip for="statSymbol" value="#{task.status}" />
					</div>
				</p:column>

				<p:column>
					<f:facet name="header">Beschreibung</f:facet>
					#{task.description}
				</p:column>

				<p:column width="280">
					<f:facet name="header">Zeitraum</f:facet>
					#{task.timeUnitAndDate}
				</p:column>

				<p:column width="140" >
					<f:facet name="header">Aktion</f:facet>
					<p:commandLink id="closeTask" value="&#x2714;" rendered="#{task.updateAble}" action="#{listController.finishTask(task.id)}"/>
					<p:tooltip for="closeTask" value="Aufgabe erledigt" /> 
					<h:outputText rendered="#{task.updateAble}" value=" | " />
					<p:commandLink id="postpone" value="&#x25ba;" rendered="#{task.updateAble}" action="#{listController.postponeTask(task.id)}"/>
					<p:tooltip for="postpone" value="Aufgabe verschieben" />  
					<h:outputText rendered="#{task.updateAble}" value=" | " />
					<p:commandLink id="changeTask" value="Ändern" rendered="#{task.updateAble}" action="#{listController.showUpdateForm(task.id)}"/>
					<p:tooltip for="changeTask" value="Aufgabe bearbeiten" />
				</p:column>

			</p:dataTable>
						

		</div>
		
	</div>

</h:form>
</h:body>
</html>
