
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Aufgabe ändern</title>
	
	<h:outputStylesheet library="css" name="style.css"  />
	<h:outputStylesheet library="css" name="add-task-style.css"  />
	
	<script>
		PrimeFaces.locales ['de'] = {
		    closeText: 'Schließen',
		    prevText: 'Zurück',
		    nextText: 'Weiter',
		    monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember' ],
		    monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez' ],
		    dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
		    dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
		    dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
		    weekHeader: 'Woche',
		    firstDay: 1,
		    isRTL: false,
		    showMonthAfterYear: false,
		    yearSuffix:'',
		    timeOnlyTitle: 'Nur Zeit',
		    timeText: 'Zeit',
		    hourText: 'Stunde',
		    minuteText: 'Minute',
		    secondText: 'Sekunde',
		    currentText: 'Aktuelles Datum',
		    ampm: false,
		    month: 'Monat',
		    week: 'Woche',
		    day: 'Tag',
		    allDayText: 'Ganzer Tag'
		};
	</script>
	
</h:head>

<h:body>

	<div id="wrapper">
		<div id="header">
			<h2>Aufgabenliste</h2>
		</div>
	</div>
	
	<div id="container">
		<p:messages globalOnly="true" />

		<h:form id="form" style="margin-top: 10px;" >
			<p:panelGrid columns="3" styleClass="ui-noborder">
			
				<f:facet name="header">Aufgabe ändern</f:facet>
			
				<p:outputLabel>Beschreibung:</p:outputLabel>
				<p:inputText value="#{listController.currentTask.description}" id="description"/> 
				<p:message for="description" />
	
				<p:outputLabel>Datum:</p:outputLabel> 
				<p:calendar value="#{listController.currentTask.taskDate}" id="taskDate" mode="inline" locale="de"/>
				<p:message for="taskDate" />
	
				<p:outputLabel>Zeiteinheit:</p:outputLabel> 
				<p:selectOneMenu value="#{listController.currentTask.timeUnit}" id="timeUnit">
					<f:selectItems value="#{listController.timeUnitMap}" />
				</p:selectOneMenu>
				<p:message for="timeUnit" />
				
				<f:facet name="footer"> 
					<p:commandButton value="Speichern" icon="ui-icon-check" action="#{listController.updateTask}"/>
				</f:facet>
			
			</p:panelGrid>
		</h:form>

		<div style="clear: both;"></div>

		<p><h:outputLink value="tasklist.xhtml">Zurück zur Liste</h:outputLink></p>

	</div>	
</h:body>
</html>
